<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <meta charset="utf-8" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{{ SITEURL }}/theme/static/css/style.css" rel="stylesheet" />
        <link rel="icon" href="{{ SITEURL }}/{{ FAVICON }}" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <script>
      function katexRenderr() {
          renderMathInElement(document.body);
      }
      function katexRender() {
          renderMathInElement(document.body,
                              {delimiters:
                               [
                                   {left: "$$", right: "$$", display: true},
                                   {left: "$", right: "$", display: false},
                               ]
                              }
                             );
      }
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous" onload="katexRender();"></script>
        {% endblock head %}
    </head>

    <body id="index" class="archive">
        <div class="container">
            <div class="header">
                <h3 class="text-muted"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h3>
             </div>
            {% block content %}
            {% endblock %}
        </div><!-- container -->
    </body>
</html>
